<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="data:,">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div>
      <video id="video" autoplay></video>
      <canvas hidden id="canvas"></canvas>
    </div>
    
    <div>
      <button style="width:20%" id="start-camera">Start Camera</button>
      <button style="width:20%" id="solve">Solve</button>
    </div>

    <div>
      <h1 id="status">Status:</h1>
      <h1 id="equation">Equation:</h1>
      <h1 id="unary">Chunked Equation:</h1>
      <h1 id="postfix">Postfix:</h1>
      <h1 id="solution">Solution:</h1>
    </div>



        <script>

        function upload(file) {
            // create form and add file
            var formdata = new FormData();
            formdata.append("img", file);
            // create AJAX connection
            fetch(`${window.origin}`, {
                method: 'POST',
                body: formdata,
            }).then(function(response){
              return response.json()
              }).then(function(dict){
                console.log(dict)
                document.getElementById("status").innerHTML = dict.status;
                document.getElementById("equation").innerHTML = dict.equation;
                document.getElementById("unary").innerHTML = dict.unary;
                document.getElementById("postfix").innerHTML = dict.postfix;
                document.getElementById("solution").innerHTML = dict.solution;
              })

          } 



        let camera_button = document.querySelector("#start-camera");
        let video = document.querySelector("#video");
        let solve_button = document.querySelector("#solve");
        let canvas = document.querySelector("#canvas");


        camera_button.addEventListener('click', async function() {
          document.getElementById("status").innerHTML = "Status:";
          document.getElementById("equation").innerHTML = "Equation:";
          document.getElementById("unary").innerHTML = "Chunked Equation:";
          document.getElementById("postfix").innerHTML = "Postfix:";
          document.getElementById("solution").innerHTML = "Solution:";
            let stream = await navigator.mediaDevices.getUserMedia({
              audio: false,
              video: {
                facingMode: 'environment'
              }
            });
          video.srcObject = stream;
        });


        solve_button.addEventListener('click', async function() {
            canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
            let image_data = canvas.toBlob(upload,'image/jpeg');
        });


      </script>

    </body>
</html>